* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.maxAncho h1 {
    margin-top: 5px;
    padding: 5px;
    color: #cfd666;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
}

.maxAncho p {
    text-align: justify;
    max-width: 650px;
    text-wrap: balance;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.historia,
.mision {
    display: grid;
    justify-content: center;
}

.historia img,
.mision img {
    height: 250px;
}

.servicios {
    padding-bottom: 60px;
    border-radius: 20px;
    background: rgb(232, 244, 224);
    background: radial-gradient(circle, rgba(232, 244, 224, 1) 14%, rgba(248, 250, 247, 0.4542191876750701) 100%);
}

.servicios img {
    width: 250px;
    height: 250px;
}

.carousel-indicators {
    bottom: -50px;
}
.carousel-control-prev, .carousel-control-next{
    width: 10%;
    color: black;
}
.carousel-control-prev span, .carousel-control-next span{
    width: 50px;
   
}
.btn_props {
    font-size: 1.6rem;
    padding: 10px 40px 10px 10px;
    font-family: 'Amatic SC', sans-serif;
}
.btn_props a{
    position: relative;
}
.btn_props button {
    color: white;
    background-color: #f76540;
    
}
.iconRelative{
    color: white;
    position: absolute;
    bottom: 36%;
    right: 5%;
    
    
}
.btn_props button:hover + .iconRelative,
.btn_props button:hover
 {
    color: black;
    background-color: white;
}


@media all and (min-width:768px) {
    .servicios {
        padding: 60px;
    }
}

@media all and (min-width:1024px) {
    .historia {
        display: flex;
        align-items: center;
    }

    .mision {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .ancho {
        max-width: 350px;
    }
}