.formulario{
    display: flex;
    justify-content: center;
}
.divPrincipal{
    padding: 10px;
    min-width: 300px;
}
.divPrincipal div label{
    min-width:200px;
}
.titulo{
    border-radius: 20px;
    color: #000000;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 300px;
}
@media all and (min-width:768px){
    .divPrincipal{
        min-width: 600px;
        }
}