.tituloTienda {
    padding: 20px;
    border-radius: 20px;
    color: #000000;
    font-family: 'Amatic SC', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    max-width: 200px;
}

.input-group input {
    max-width: 600px;
}

.input-group-append {
    cursor: pointer;
    background-color: #f8f9fa;
}

.dropdown-menu {
    max-width: 400px;
    padding: 20px;
}

.dropdown-menu label {
    text-wrap: pretty;
}

.btn_props {
    color: white;
    background-color: #d53b1e;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: 'Amatic SC', sans-serif;
    padding: 10px;
    transition: 0.2s ease;
}

.tituloProducto {
    padding-bottom: 0;
    border-bottom: 2px solid #63682dd2;
    color: #cfd666;
    font-family: 'Amatic SC', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
}

.productos {
    display: grid;
    justify-items: center;
}

.producto {
    box-shadow: 0px 0px 25px -12px black;
    max-width: 300px;
}
.divImagen{
    display: flex;
    min-height: 250px;

}
.nombreProducto {
    padding: 5px 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.descripcion {
    margin-top: 5px;
    text-wrap: pretty;
    font-family: 'Roboto', sans-serif;
}

.addToCart {
    padding: 5px;
    text-decoration: none;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.1rem;
    color: white;
    background-color: #63682dd2;
    transition: all 0.2s ease;

}

.addToCart:hover {
    transform: translateY(5px);
    background-color: #cfd666;
    color: black;
    font-weight: bold;
}

.precio {
    color: #63682dd2;
    font-weight: bold;
    font-size: 1.5rem;
}

.divCarrito{
    position: absolute;
    right: 0;
    bottom: 20px;
    
}


@media all and (min-width: 768px) {
    .productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .productos {
        grid-template-columns: repeat(3, 1fr);
    }
    .tipos_productos {
        max-width: 700px;
    }
}